force-app/main/default/flows/Add_Activity_to_Line_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Activity_Not_Found</name>
        <label>Activity Not Found</label>
        <locationX>704</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Output_Msg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activity Not Found</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Creation_Failed</name>
        <label>Creation Failed</label>
        <locationX>440</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Output_Msg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>failed to add Activity</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Request_not_found</name>
        <label>Request not found</label>
        <locationX>968</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Output_Msg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Trip can be updated before 7 days prior or Invalid Reference number </stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <description>Added type Activity</description>
    <environments>Default</environments>
    <interviewLabel>Add Activity to Line Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Activity to Line Item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Activity_Line_Item</name>
        <label>Create Activity Line Item</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignRecordIdToReference>Line_Item_Created_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Created_Line_Item</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Creation_Failed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Activity_Listing__c</field>
            <value>
                <elementReference>Get_Activity_To_Add.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Additional_Information__c</field>
            <value>
                <elementReference>Get_Activity_To_Add.Additional_Info__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Day__c</field>
            <value>
                <elementReference>Day_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destination_City__c</field>
            <value>
                <elementReference>Get_Activity_To_Add.Place__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Detail__c</field>
            <value>
                <elementReference>Get_Activity_To_Add.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration__c</field>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Itinerary__c</field>
            <value>
                <elementReference>Get_Itinerary_Request.Itinerary_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sequence__c</field>
            <value>
                <elementReference>Sequence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Short_Title__c</field>
            <value>
                <elementReference>Get_Activity_To_Add.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_City__c</field>
            <value>
                <elementReference>Get_Activity_To_Add.Place__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Activity</stringValue>
            </value>
        </inputAssignments>
        <object>LineItem__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Activity_To_Add</name>
        <label>Get Activity To Add</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Activity_Line_Item</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Activity_Not_Found</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>ActivityName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Activity_Listing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Line_Item</name>
        <label>Get Created Line Item</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Itinerary_of_the_Day</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Line_Item_Created_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Itinerary_of_the_Day</name>
        <label>Get Itinerary of the Day</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Day__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Day_Number</elementReference>
            </value>
        </filters>
        <filters>
            <field>Itinerary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Itinerary_Request.Itinerary_Id__r.Id</elementReference>
            </value>
        </filters>
        <object>LineItem__c</object>
        <outputReference>Output_Day_Itinerary</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Detail__c</queriedFields>
        <queriedFields>Destination_City__c</queriedFields>
        <queriedFields>Duration__c</queriedFields>
        <queriedFields>Day__c</queriedFields>
        <sortField>Sequence__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Itinerary_Request</name>
        <label>Get Itinerary Request</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Activity_To_Add</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Request_not_found</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Reference_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Itinerary_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Itinerary_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActivityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Day_Number</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Line_Item_Created_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Output_Day_Itinerary</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>LineItem__c</objectType>
    </variables>
    <variables>
        <name>Output_Msg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Reference_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sequence</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </variables>
</Flow>
