force-app/main/default/flows/Book_Flight_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Booking_Confirmation</name>
        <label>Booking Confirmation</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ConfirmationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Your Flight has been Booked Successfully!!</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Book Flight Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Book Flight Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Flight_Booking</name>
        <label>Create Flight Booking</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignRecordIdToReference>ReqBookingID</assignRecordIdToReference>
        <connector>
            <targetReference>Booking_Confirmation</targetReference>
        </connector>
        <inputAssignments>
            <field>Airline_Number__c</field>
            <value>
                <elementReference>FlightNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arrival_City__c</field>
            <value>
                <elementReference>Get_Flightlisting.Arrival_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departure_City__c</field>
            <value>
                <elementReference>Get_Flightlisting.Departure_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FlightListing__c</field>
            <value>
                <elementReference>Get_Flightlisting.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From_Date__c</field>
            <value>
                <elementReference>Get_Flightlisting.Departure_Date_And_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Itinerary_Request__c</field>
            <value>
                <elementReference>Get_Itinenerary_Request.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Of_Flight__c</field>
            <value>
                <elementReference>Get_Flightlisting.Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To_Date__c</field>
            <value>
                <elementReference>Get_Flightlisting.Arrival_Date_And_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Travel</stringValue>
            </value>
        </inputAssignments>
        <object>Booking_Request__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Flightlisting</name>
        <label>Get Flightlisting</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Flight_Booking</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Airline_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FlightNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>Arrival_City__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Flightlisting.Arrival_City__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Flight_Type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FlightListing__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Airline_Number__c</queriedFields>
        <queriedFields>Price__c</queriedFields>
        <queriedFields>Departure_City__c</queriedFields>
        <queriedFields>Arrival_City__c</queriedFields>
        <queriedFields>Departure_Date_And_Time__c</queriedFields>
        <queriedFields>Arrival_Date_And_Time__c</queriedFields>
        <queriedFields>Airline_Name__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Itinenerary_Request</name>
        <label>Get Itinenerary Request</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Flightlisting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RefID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Itinerary_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Itinenerary_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ConfirmationMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DepartureDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DepartureDateAndTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Flight_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FlightNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RefID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReqBookingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
