force-app/main/default/flows/Cancel_Activity_Line_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Activity_Not_Found</name>
        <label>Activity Not Found</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Output_Msg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activity not present</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Request_Not_Present_Output</name>
        <label>Request Not Present Output</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Output_Msg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Trip can be updated before 7 days prior or Invalid Reference number </stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Success_output</name>
        <label>Success output</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Valid_Reference</name>
        <label>Valid Reference</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Request_Not_Present_Output</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Request_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Itinerary_Request</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Activity_To_Delete</targetReference>
            </connector>
            <label>Request Exists</label>
        </rules>
    </decisions>
    <description>Removed Day Input
Added Type in Query</description>
    <environments>Default</environments>
    <formulas>
        <name>ValidDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() +7</expression>
    </formulas>
    <interviewLabel>Cancel Activity Line Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel Activity Line Item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Activity_Line_Item</name>
        <label>Delete Activity Line Item</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Success_output</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Activity_Not_Found</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Itinerary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Itinerary_Request.Itinerary_Id__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Activity_Listing__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Activity_To_Delete.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activity</stringValue>
            </value>
        </filters>
        <object>LineItem__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Activity_To_Delete</name>
        <label>Get Activity To Delete</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Activity_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Activity_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Activity_Listing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Itinerary_Request</name>
        <label>Get Itinerary Request</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Reference</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Reference_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Request_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Travel_start_date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>ValidDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Itinerary_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Itinerary_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Activity_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Output_Msg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Reference_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
