force-app/main/default/flows/Create_Itineray_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Itinerary_Request</name>
        <label>Assign Itinerary Request</label>
        <locationX>176</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>outputmessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_updated_rec.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Create_List_of_Line_Item_To_Insert</name>
        <label>Create List of Line Item To Insert</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Line_Items_To_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Make_Requester_true</name>
        <label>Make Requester true</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>To_Clone.IsRequest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Itinerary_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>To_Clone.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Itinerary_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_ID</name>
        <label>Update ID</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Iterate_Line_Items.Itinerary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>To_Clone.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_List_of_Line_Item_To_Insert</targetReference>
        </connector>
    </assignments>
    <description>Mail added
Extra variables removed
Rich text
Reference Id Output
issue fixed</description>
    <environments>Default</environments>
    <formulas>
        <name>DateAndTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Create Itineray Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Itineray Request</label>
    <loops>
        <name>Iterate_Line_Items</name>
        <label>Iterate Line Items</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Lineitem_Detail</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LineitemRecord</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Itinerary_Request</name>
        <label>Create Itinerary Request</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <assignRecordIdToReference>Request_Id</assignRecordIdToReference>
        <connector>
            <targetReference>get_updated_rec</targetReference>
        </connector>
        <inputAssignments>
            <field>Duration_on_days__c</field>
            <value>
                <elementReference>Durationondays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Itinerary_Id__c</field>
            <value>
                <elementReference>To_Clone.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Adults_12__c</field>
            <value>
                <elementReference>NoofAdults</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Children_under_12__c</field>
            <value>
                <elementReference>NoofChildren</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Destination__c</field>
            <value>
                <elementReference>To_Clone.Destination__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_DateTime__c</field>
            <value>
                <elementReference>DateAndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requester__c</field>
            <value>
                <elementReference>Get_Requester_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Travel_end_date__c</field>
            <value>
                <elementReference>Travelenddate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Travel_start_date__c</field>
            <value>
                <elementReference>Travelstartdate</elementReference>
            </value>
        </inputAssignments>
        <object>Itinerary_Request__c</object>
    </recordCreates>
    <recordCreates>
        <name>Itinerary_Record</name>
        <label>Create Itinerary Record</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get_Lineitem_Detail</targetReference>
        </connector>
        <inputReference>To_Clone</inputReference>
    </recordCreates>
    <recordCreates>
        <name>LineitemRecord</name>
        <label>LineitemRecord</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Create_Itinerary_Request</targetReference>
        </connector>
        <inputReference>Line_Items_To_Create</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Lineitem_Detail</name>
        <label>Get Lineitem Detail</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Itinerary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Itinerary_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Requester_Contact</name>
        <label>Get Requester Contact</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Make_Requester_true</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_updated_rec</name>
        <label>get updated rec</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Itinerary_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Request_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Itinerary_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Requester_Contact</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello Traveller,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your Itinerary Request for {!get_updated_rec.Primary_Destination__c} has been created with&lt;strong&gt; Trip it Up&lt;/strong&gt; your travel advisor.&lt;/p&gt;&lt;p&gt;Your request &lt;strong&gt;Reference No.&lt;/strong&gt; is &lt;a href=&quot;https://orgfarm-6a88e00ad3-dev-ed.develop.my.site.com/TripItUp&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(11, 92, 171);&quot;&gt;{!get_updated_rec.Name}&lt;/a&gt;. For any updates and queries you can mention the reference no. with our agents.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Happy Travelling&lt;/p&gt;&lt;p&gt;Trip it Up&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Rich_Text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello Traveller,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your Itinerary Request for {!get_updated_rec.Primary_Destination__c} has been created with&lt;strong&gt; Trip it Up&lt;/strong&gt; your travel advisor.&lt;/p&gt;&lt;p&gt;Your request &lt;strong&gt;Reference No.&lt;/strong&gt; is &lt;a href=&quot;https://orgfarm-6a88e00ad3-dev-ed.develop.my.site.com/TripItUp&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(11, 92, 171);&quot;&gt;{!get_updated_rec.Name}&lt;/a&gt;. For any updates and queries you can mention the reference no. with our agents.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Happy Travelling&lt;/p&gt;&lt;p&gt;Trip it Up&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Durationondays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Line_Items_To_Create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LineItem__c</objectType>
    </variables>
    <variables>
        <name>NoofAdults</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NoofChildren</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>outputmessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Request_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Itinerary_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>To_Clone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Itinerary_Listing__c</objectType>
    </variables>
    <variables>
        <name>Travelenddate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Travelstartdate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
