force-app/main/default/flows/Display_Itineraries.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Itinerary_Record</name>
        <label>Assign Itinerary Record</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ItineraryRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Itinerary_Details</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Get itinerary conditions updated,,, added selected Itinerary in sessions</description>
    <environments>Default</environments>
    <interviewLabel>Display Itineraries {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Itinerarys Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>get and display itineraries</description>
        <name>Get_Itinerary_Details</name>
        <label>Get Itinerary Details</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Session</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>ItineraryName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Destination__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>ItineraryName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Itinerary_Listing__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Destination__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Max_Price__c</queriedFields>
        <queriedFields>Min_Price__c</queriedFields>
        <queriedFields>Details__c</queriedFields>
        <queriedFields>Interest__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Session</name>
        <label>Get Session</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_Session</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SessionInput</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Session</name>
        <label>update Session</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Assign_Itinerary_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SessionInput</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Selected_Itinerary__c</field>
            <value>
                <elementReference>Get_Itinerary_Details.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Session__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Itinerary_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ItineraryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ItineraryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Itinerary_Listing__c</objectType>
    </variables>
    <variables>
        <name>SessionInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
