force-app/main/default/flows/Get_Flights_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Success</name>
        <label>Success</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Success_Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <description>added date field
added type
removed extra inputs</description>
    <environments>Default</environments>
    <interviewLabel>Get Flights Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Flights Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>This will get all tghe flight details as per the user enquiry</description>
        <name>Fetch_Flight_Data</name>
        <label>Fetch Flight Data</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Departure_City__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DepartureCity</elementReference>
            </value>
        </filters>
        <filters>
            <field>Arrival_City__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ArrivalCity</elementReference>
            </value>
        </filters>
        <filters>
            <field>Departure_Date_And_Time__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Departure_Date_From</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Flight_Type</elementReference>
            </value>
        </filters>
        <object>FlightListing__c</object>
        <outputReference>Searched_flights</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Arrival_City__c</queriedFields>
        <queriedFields>Airline_Number__c</queriedFields>
        <queriedFields>Departure_City__c</queriedFields>
        <queriedFields>Arrival_Date_And_Time__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Price__c</queriedFields>
        <queriedFields>Departure_Date_And_Time__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_Flight_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ArrivalCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Departure_Date_From</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DepartureCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Flight_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Economy</stringValue>
        </value>
    </variables>
    <variables>
        <name>FlightNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Searched_flights</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>FlightListing__c</objectType>
    </variables>
    <variables>
        <name>Success_Result</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
