force-app/main/default/flows/HotelBooking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Confirmation_Hotel_Booking</name>
        <label>Confirmation Hotel  Booking</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Thanks! Your Hotel Booking Has Been Booked Successfully.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>HotelBooking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HotelBooking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Hotel_Booking</name>
        <label>Create Hotel Booking</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignRecordIdToReference>ReqHotelBookingID</assignRecordIdToReference>
        <connector>
            <targetReference>Confirmation_Hotel_Booking</targetReference>
        </connector>
        <inputAssignments>
            <field>From_Date__c</field>
            <value>
                <elementReference>CheckIn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HotelListing__c</field>
            <value>
                <elementReference>Get_HotelListing.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Itinerary_Request__c</field>
            <value>
                <elementReference>Get_Itinerary_Request.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Person_Stay_in_the_Hotel__c</field>
            <value>
                <elementReference>Get_HotelListing.Number_of_Person__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Of_Hotel__c</field>
            <value>
                <elementReference>Get_HotelListing.Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To_Date__c</field>
            <value>
                <elementReference>CheckOut</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Stay</stringValue>
            </value>
        </inputAssignments>
        <object>Booking_Request__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_HotelListing</name>
        <label>Get HotelListing</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Hotel_Booking</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HotelListing__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>City__c</queriedFields>
        <queriedFields>Price__c</queriedFields>
        <queriedFields>Check_In__c</queriedFields>
        <queriedFields>Check_Out__c</queriedFields>
        <queriedFields>Amenities__c</queriedFields>
        <queriedFields>Number_of_Person__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Room_Type__c</queriedFields>
        <queriedFields>Rating__c</queriedFields>
        <queriedFields>RatingStar__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Itinerary_Request</name>
        <label>Get Itinerary Request</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_HotelListing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReferenceID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Itinerary_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Itinerary_Request</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>BookingID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Booking_Request__c</objectType>
    </variables>
    <variables>
        <name>CheckIn</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CheckOut</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>day</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferenceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReqHotelBookingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>shorttitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
