force-app/main/default/flows/Update_Itinerary_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Itinerary_Request</name>
        <label>Assign Itinerary Request</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>itinerary_Record_To_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Itinerary_Request</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_No_Of_Adult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Start_Date</name>
        <label>Assign Start Date</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>itinerary_Record_To_Update.Travel_start_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Travelstartdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Travel_end_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_end_Date</name>
        <label>Assing end Date</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>itinerary_Record_To_Update.Travel_end_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Travelenddate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Request_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_No_Of_Adult</name>
        <label>Assing No Of Adult</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>itinerary_Record_To_Update.No_of_Adults_12__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoOfAdults</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_No_of_Children</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assiong_No_of_Children</name>
        <label>Assing No of Children</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>itinerary_Record_To_Update.No_of_Children_under_12__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoofChildren</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Travel_start_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OutputMessage_update</name>
        <label>OutputMessage_update</label>
        <locationX>182</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>RecordToShow</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>itinerary_Record_To_Update</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_No_Of_Adult</name>
        <label>Check No Of Adult</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Check_No_of_Children</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_No_Of_Adult</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoOfAdults</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assing_No_Of_Adult</targetReference>
            </connector>
            <label>Change No Of Adult</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_No_of_Children</name>
        <label>Check No of Children</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Check_Travel_start_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_No_of_Children</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoofChildren</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assiong_No_of_Children</targetReference>
            </connector>
            <label>Change No of Children</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Travel_end_date</name>
        <label>Check Travel end date</label>
        <locationX>182</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>Update_Request_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Check_Travel_end_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Travelenddate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assing_end_Date</targetReference>
            </connector>
            <label>Outcome 1 of Check Travel end date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Travel_start_date</name>
        <label>Check Travel start date</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Check_Travel_end_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assing_Travel_start_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Travelstartdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Start_Date</targetReference>
            </connector>
            <label>Assing Travel start date</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Itinerary Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Itinerary Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Itinerary_Request</name>
        <label>Get Itinerary Request</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Itinerary_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReferenceID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Itinerary_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Request_Id</name>
        <label>Update Request Id</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>OutputMessage_update</targetReference>
        </connector>
        <inputReference>itinerary_Record_To_Update</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Itinerary_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>itinerary_Record_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Itinerary_Request__c</objectType>
    </variables>
    <variables>
        <name>NoOfAdults</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NoofChildren</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>RecordToShow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Itinerary_Request__c</objectType>
    </variables>
    <variables>
        <name>ReferenceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Travelenddate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Travelstartdate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
