force-app/main/default/flows/Update_Hotel_Booking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Check_in</name>
        <label>Assign Check in</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Record_To_Update.From_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckIN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Out</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_check_out</name>
        <label>Assign check out</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>Record_To_Update.To_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckOut</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Number_of_Person</name>
        <label>Assign Number of Person</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Record_To_Update.Number_of_Person_Stay_in_the_Hotel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumberOfPeople</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Check_In</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Output</name>
        <label>Assign Output</label>
        <locationX>182</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>Output_record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_To_Update</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Record_To_Update</name>
        <label>Assign Record To Update</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Record_To_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Request_booking</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Number_of_Person</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Out</name>
        <label>Check valid Check Out</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Update_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checked_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckOut</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckOut</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Request_booking.From_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_check_out</targetReference>
            </connector>
            <label>Checked Out</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Check_In</name>
        <label>Check valid Update Check In</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Check_Out</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_IN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckIN</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckIN</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Get_Request_booking.To_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Check_in</targetReference>
            </connector>
            <label>Check IN</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Number_of_Person</name>
        <label>Check valid Number of Person</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Update_Check_In</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Number_Of_Person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfPeople</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumberOfPeople</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Records_HotelListing.Number_of_Person__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Number_of_Person</targetReference>
            </connector>
            <label>Number Of Person</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Valid_Date</name>
        <dataType>Date</dataType>
        <expression>NOW() - 3</expression>
    </formulas>
    <interviewLabel>Update Hotel Booking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Hotel Booking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Records_HotelListing</name>
        <label>Get Records HotelListing</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Record_To_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Request_booking.HotelListing__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HotelListing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Request_booking</name>
        <label>Get Request booking</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Records_HotelListing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>hotel_booking_ref</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Booking_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Assign_Output</targetReference>
        </connector>
        <inputReference>Record_To_Update</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Request_booking</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CheckIN</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CheckOut</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hotel_booking_ref</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberOfPeople</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Output_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Booking_Request__c</objectType>
    </variables>
    <variables>
        <name>Record_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking_Request__c</objectType>
    </variables>
</Flow>
